@use "../helpers" as *;

#footer {
  color: var(--color-black);
  background: var(--color-white);

  .logo {
    font-size: rem(24);
  }
}

.footer__holder {
  padding: 40px 0;
  @include desktop {
    padding: 65px 0;
  }

  ul:not(.social-networks) {
    li {
      margin: 0 0 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.footer__columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.footer__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__title {
  margin-bottom: 20px;
  font-size: calc(var(--base-font-size) + 1px);
  font-weight: 500;
}

.footer__panel {
  padding: 28px 0;
  font-size: calc(var(--base-font-size) - 3px);
  text-align: center;
  border-top: 1px solid var(--color-black);

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__item {
  align-self: flex-end;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-networks__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background: var(--color-black);
  border-radius: 100%;

  svg {
    display: block;
    width: 13px;
    height: auto;
    color: var(--color-white);
  }
}
