.hero__holder {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    align-items: center;
  }
}

.hero__text {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.hero__image {
  @media screen and (min-width: 768px) {
    order: 1;
  }
}
