@import "variables";
@import "typography";

@import "header";
@import "hero";
@import "footer";

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  font-weight: 400;
  color: var(--color-white);
  background: var(--color-dark);
}

#wrapper {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.section-padding {
  padding: var(--section-padding) 0;
  @media screen and (min-width: 1024px) {
    padding: calc(var(--section-padding) + 14px) 0;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 var(--grid-gutter-width);
  @media screen and (min-width: 1024px) {
    padding: 0 calc(var(--grid-gutter-width) * 3);
  }
  @media screen and (min-width: 1200px) {
    padding: 0 calc(var(--grid-gutter-width) * 6);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.logo {
  display: inline-block;
  vertical-align: top;
  font-size: calc(var(--heading-font-size) - 7px);
  font-weight: 800;
  text-transform: uppercase;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  font-size: calc(var(--base-font-size) - 3px);
  font-weight: 400;
  background: var(--color-red);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  &.rounded {
    border-radius: 50px;
  }

  &.btn--primary {
    background: linear-gradient(90deg, var(--color-red) 0%, var(--color-primary-hover) 100%);
    &:hover {
      background: var(--color-red);
    }
  }
}

.relative {
  position: relative;
}

.subtitle {
  color: var(--color-primary);
}





@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-dark);
    background-color: var(--color-light);
  }
  .author:hover {
    color: var(--color-primary-hover);
  }
  button,
  .gitRepo {
    background-color: var(--color-button-light);
  }
}