:root {
  --font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
  --base-font-size: 16px;
  --heading-font-size: 36px;

  --grid-gutter-width: 20px;

  --color-light: #fdfaed;
  --color-dark: #070320;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #d80027;
  --color-gray: #898989;
  --color-primary: #dc7000;
  --color-primary-hover: #c1761e;
  --color-secondary: #a1571c;
  --color-logo-shadow: #646cffaa;
  --color-logo-vanilla-shadow: #f7df1eaa;
  --color-button-light: #f3e5ab;
  --color-button-dark: #db9825;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--base-font-size);
  color: var(--color-white);
  background: var(--color-dark);
}

#wrapper {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

h1,
.h1 {
  font-size: var(--heading-font-size);
  line-height: 1.1;
  font-weight: 700;
  @media screen and (min-width: 1024px) {
    font-size: calc(var(--heading-font-size) + 14px); //50
  }
}

h2,
.h2 {
  font-size: var(--heading-font-size);
  line-height: 1.1;
  font-weight: 600;
  @media screen and (min-width: 1024px) {
    font-size: calc(var(--heading-font-size) - 3px); //33
  }
}

h3,
.h3 {
  font-size: var(--heading-font-size);
  line-height: 1.1;
  font-weight: 600;
  @media screen and (min-width: 1024px) {
    font-size: calc(var(--heading-font-size) - 6px); //30
  }
}

h4,
.h4 {
  font-size: var(--heading-font-size);
  line-height: 1.1;
  font-weight: 600;
  @media screen and (min-width: 1024px) {
    font-size: calc(var(--heading-font-size) - 8px); //28
  }
}

h5,
.h5 {
  font-size: var(--heading-font-size);
  line-height: 1.1;
  font-weight: 600;
  @media screen and (min-width: 1024px) {
    font-size: calc(var(--heading-font-size) - 11px); //25
  }
}

h6,
.h6 {
  font-size: var(--heading-font-size);
  line-height: 1.1;
  font-weight: 600;
  @media screen and (min-width: 1024px) {
    font-size: calc(var(--heading-font-size) - 16px); //20
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 var(--grid-gutter-width);
  @media screen and (min-width: 1024px) {
    padding: 0 calc(var(--grid-gutter-width) * 3);
  }
  @media screen and (min-width: 1200px) {
    padding: 0 calc(var(--grid-gutter-width) * 6);
  }
}

#header {
  position: sticky;
  top: 0;
  background: var(--color-dark);

  .container {
    @media screen and (min-width: 1024px) {
      padding: 0 calc(var(--grid-gutter-width) * 2);
    }
  }
}

.header__holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 60px;
  @media screen and (min-width: 1200px) {
    padding: 40px 0;
    justify-content: space-between;
  }
}

.logo {
  display: inline-block;
  vertical-align: top;
  font-size: calc(var(--heading-font-size) - 7px);
  font-weight: 800;
  text-transform: uppercase;
}

.header__bar {
  position: absolute;
  inset: 0;
  background: #000;
  @media screen and (min-width: 1200px) {
    position: static;
    background: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.menu__btn {
  display: none;
  &:checked {
    ~ .menu__icon {
      &::before {
        top: 50%;
        transform: rotate(-45deg);
      }
      &::after {
        top: 50%;
        transform: rotate(45deg);
      }

      span {
        opacity: 0;
      }
    }

    ~ .menu {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.menu__icon {
  position: absolute;
  left: var(--grid-gutter-width);
  display: block;
  width: 44px;
  height: 44px;
  font-size: 0;
  line-height: 0;
  background: transparent;
  cursor: pointer;
  z-index: 3;
  @media screen and (min-width: 1200px) {
    left: calc(var(--grid-gutter-width) * 3);
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
  span,
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 30%;
    right: 20%;
    left: 20%;
    height: 2px;
    background: var(--color-white);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  &::after {
    top: 70%;
  }

  .active {
    &::before {
      top: 50%;
      transform: rotate(-45deg);
    }
    &::after {
      top: 50%;
      transform: rotate(45deg);
    }

    span {
      opacity: 0;
    }
  }

  span {
    top: 50%;
  }
}

.menu {
  position: fixed;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  padding: 84px var(--grid-gutter-width);
  background: var(--color-black);
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1024px) {
    padding: 84px calc(var(--grid-gutter-width) * 3);
  }
  @media screen and (min-width: 1200px) {
    opacity: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    position: static;
    transform: none;
    background: none;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (min-width: 768px) {
      gap: 40px;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 80px;
      align-items: center;
      justify-content: center;
    }

    a {
      display: block;
      padding: 8px 0;
      position: relative;
      transition: all 0.3s ease-in-out;
      @media screen and (min-width: 1200px) {
        display: inline-block;
      }
      &::before,
      &::after {
        content: '';
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 50%;
        border-radius: 20px;
        background: var(--color-primary);
      }
      &::after {
        left: calc(50% + 3px);
        width: 5px;
      }
      &:hover,
      .active & {
        &::before,
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  font-size: calc(var(--base-font-size) - 3px);
  font-weight: 400;
  background: var(--color-red);
  border-radius: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-dark);
    background-color: var(--color-light);
  }
  .author:hover {
    color: var(--color-primary-hover);
  }
  button,
  .gitRepo {
    background-color: var(--color-button-light);
  }
}

#footer {
  color: var(--color-black);
  background: var(--color-white);

  .logo {
    font-size: calc(var(--heading-font-size) - 12px);
  }
}

.footer__holder {
  padding: 40px 0;
  @media screen and (min-width: 1024px) {
    padding: 65px 0;
  }

  ul:not(.social-networks) {

    li {
      margin: 0 0 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.footer__columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.footer__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__title {
  margin-bottom: 20px;
  font-size: calc(var(--base-font-size) + 1px);
  font-weight: 500;
}

.footer__panel {
  padding: 28px 0;
  font-size: calc(var(--base-font-size) - 3px);
  text-align: center;
  border-top: 1px solid var(--color-black);

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__item {
  align-self: flex-end;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-networks__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background: var(--color-black);
  border-radius: 100%;

  svg {
    display: block;
    width: 13px;
    height: auto;
    color: var(--color-white);
  }
}
